.container {
 width: 100%;
 margin: 0 auto;
 font-family: 'Raleway', sans-serif;

}

:root {
    --open-sans: "Raleway";
    
  }


header {

    width: 100%;
    display: flex;  
    justify-content: space-between;
    background-color: white;
    height: 70px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    
}

header h2 {
 margin-left: 136px;
 font-size: 32px;
 color: #08A6E4;
 cursor: pointer;
}
ul {
    display: flex;
    margin-right: 135px;
}

ul li {

    margin-right: 50px;
    font-size: 11px;
    padding: 27px;
    color: #000000;
    font-weight: bold;
    font-family: var(--open-sans);
    cursor: pointer;
    text-decoration: none;
}


.textholder {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    
}

.textholder h2 {

    font-size: 49px;
    margin-bottom: 20px;
}
.textholder p {

font-size: 16px;
}

.buttonholder button{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 157px 22px 157px ;
    background-color: #08A6E4;
    border-radius: 40px;
    color: white;
    border: 0;
    margin-top: 38px;

}

.textholder2 {
 
display: flex;
flex-direction: column;
align-items: center;
margin-top: 100px;

}

.textholder2 h2 {
    font-size: 36px;
}

.content {
    width: 800px;
    margin: 0  auto;


}

.statistic-holder {
    display: flex;
    
  
    
}

.statistic{

    display: flex;
    
}

.statistic-img {

background-color: #FB3B64;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin-top: 103px;
    position: relative;
    margin-right: 262px;

}

.statistic-img img {

    position: absolute;
    left: 50% ;
}

.statistics-numbers h2 {

    font-weight: bold;
    font-size: 24px;
    margin-top: 15px;
    letter-spacing: 6px;
}
.statistics-words p {
    margin-top: 19.1;
    font-size: 16px;
    color: #A5A5A5;
}

.holder-selektimi{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    padding-top: 106px;
    
} 

.selektimi {

    width: 1124px;
    display: flex;
    margin-top: 50px;
    background-color: white;
    
   
}
.selektimi h2 {

    font-size: 42px;
    margin-bottom: 30px;
}

.selektimi p {
    font-size: 22px;
}

.left {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
   padding-bottom: 141px;

}
.textholder1 {
 width: 416px;
 
 color: black;
}
.textholder1 p{
    align-items: left;
}

.left h2{

    font-size: 35px;
   
  
}

.left p {
    font-size: 15px ;
    

}

.right {
    
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 386px;
    padding-top: 80px;
}

.holder-selektimi2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    padding-top: 30px;

}
.selektimi2 {

    display: flex;
    width: 1124px;
    margin-top: 50px;
    background-color: white;
    
}
.left2 {
    width: 50%;
    box-sizing: border-box;
   
    
    
}
    
.left2 img {
    width: 386px;


}
.mbeshtjellsi {
    background-color: #07ACE6 ;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: relative;
    left: 50px;
    top: 10px;
}



.right2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.right2 h2 {
    display: flex;
    font-size: 36px;
    align-items: center ;
    padding-bottom: 30px;
}
.right2 p {
    font-size: 16px;
    color: black;
    align-items: left;
}
.textholder3 {
    align-items: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: black;
    flex-direction: column;
    font-size: 24px;
    width: 400px; 
}

.lastchapter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    padding-top: 106px;
    padding-bottom: 105px;
}

.lastdiv {

    width: 623px;
    display: flex;
    margin-right: 60px;
    height: 370px;
    background-color: #FFFFFF;
}

.text-holder1 {

    display: flex;
    align-items: left ;
    width: 416px;
    flex-direction: column;
    color: black;
}

.text-holder1 h2 {

    font-size: 36px;
    margin-left: 35px;
    
}
.text-holder1 p {
    margin-left: 35px;
    width: 554px;
}

.lastdiv2 {
    display: flex;
    width: 440px;
    background-color: #55DFB4;
    justify-content: center;
    height: 370px;
}

.imageholderr {

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imageholderr img {

    width: 296px;
    height: 208px;

    
}



.pricing {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
   
}

.pricing h2 {

    font-size: 36px;
    margin-bottom: 113px;
    
}
.price123holder {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.price1 {
    width: 372px;
    height: 461px;
    border: 1px solid #FB3B64;
   
    margin-right: 59px;
    border-radius: 15px;
}

.price1 button {

    position: relative;
    top: 461px; 
    top: 83%;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color: #EB476E;
    color: white;
    border: none;
}
.price2 {
    width: 372px;
    height: 461px;
    border: 1px solid #07ACE6;
    margin-right: 59px;
    border-radius: 15px;
    box-shadow: 5px 10px 27px #07ACE629;
}

.price2:hover {

    transform: scale(1.1); 
}

.price2 button {

    position: relative;
    top: 461px; 
    top: 94.3%;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color: #07ACE6;
    color: white;
    border: none;
}

.price3 {
    width: 372px;
    height: 461px;
    border: 1px solid #55DFB4;
    border-radius: 15px;
}

.price3 button {

    position: relative;
    top: 461px; 
    top: 94.3%;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color: #55DFB4;
    color: white;
    border: none;
}